<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="mkjcApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
   <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DetectServiceHttpBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
          <!--正式库 10.215.213.182:20017-->
          <endpoint address="http://10.215.213.150:17001/InterfaceWS/InterfaceBusiness/services/DetectService" binding="basicHttpBinding" bindingConfiguration="DetectServiceHttpBinding" contract="ServiceReference.DetectServicePortType" name="DetectServiceHttpPort" />
        </client>
    </system.serviceModel>
   <applicationSettings>
      <mkjcApp.Properties.Settings>
         <setting name="LineOff" serializeAs="String">
            <value>True</value>
         </setting>
      </mkjcApp.Properties.Settings>
   </applicationSettings>
  <appSettings>
    <add key="sqlpwd" value="root" />
    <add key="gprsport" value="28899" />
    <add key="gprsip" value="192.168.8.100" />
  </appSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
