<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YQMaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
 <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DetectServiceHttpBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.215.213.182:20017/InterfaceWS/InterfaceBusiness/services/DetectService"
                binding="basicHttpBinding" bindingConfiguration="DetectServiceHttpBinding"
                contract="ServiceReference.DetectServicePortType" name="DetectServiceHttpPort" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <YQMaster.Properties.Settings>
            <setting name="LineOff" serializeAs="String">
                <value>False</value>
            </setting>
        </YQMaster.Properties.Settings>
    </applicationSettings>
</configuration>