<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MdsLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DetectServiceHttpBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
          <!--正式库 10.215.213.182:20017-->          
          <endpoint address="http://10.215.213.150:17001/InterfaceWS/InterfaceBusiness/services/DetectService"
                binding="basicHttpBinding" bindingConfiguration="DetectServiceHttpBinding"
                contract="ServiceReference.DetectServicePortType" name="DetectServiceHttpPort" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <MdsLibrary.Properties.Settings>
            <setting name="mysqlconnstr" serializeAs="String">
                <value>Server = 127.0.0.1; Database =plc_scheme; Uid =root; Pwd =123456; CharSet = utf8;Allow User Variables=True;</value>
            </setting>
            <setting name="DETECT_UNIT_NO" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SYS_NO" serializeAs="String">
                <value>555</value>
            </setting>
            <setting name="TEST" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="uid" serializeAs="String">
                <value>sxykjd</value>
            </setting>
            <setting name="listenPort" serializeAs="String">
                <value>1521</value>
            </setting>
            <setting name="dbhostaddress" serializeAs="String">
                <value>10.215.213.151</value>
            </setting>
            <setting name="servername" serializeAs="String">
                <value>mpac</value>
            </setting>
            <setting name="pwd" serializeAs="String">
                <value>Qh_08mpac</value>
            </setting>
            <setting name="DETECT_EQUIP_NO" serializeAs="String">
                <value>550</value>
            </setting>
        </MdsLibrary.Properties.Settings>
    </applicationSettings>
</configuration>